@keyframes loading-bar {
    0% {
        left: -30%;
        width: 30%;
    }
    50% {
        left: 50%;
        width: 30%;
    }
    100% {
        left: 100%;
        width: 30%;
    }
}

.animate-loading-bar {
    animation: loading-bar 1.5s ease-in-out infinite;
}
